body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    line-height: 1.6;
    background-color: #a5c882;
    color: #1e152a;
}

header {
    background: #1e152a;
    color: #fff;
    padding: 1.5625em 0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-left {
    font-size: 1em;
    font-weight: bold;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header ul li {
    font-size: 0.8125em;
    margin: 0 15px;
    vertical-align: middle;
    align-items: center;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

main p a {
    color: #1e152a;
    text-decoration: underline;
}

main p a:hover {
    color: #1e152a;
    text-decoration: dotted;
}

/* Contact Us */
.contacts {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.contact {
    background-color: #F7DD72;
    color: #1e152a;
    padding: 15px;
    border: 1px solid #1e152a;
    border-radius: 8px;
    flex: 1;
    max-width: 45%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contacts p a {
    color: #1e152a;
    text-decoration: underline;
}

.contacts p a:hover {
    color: #fff;
    border: 1px solid #1e152a;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #1e152a;
}

.maps {
    position: relative;
    padding: 0.625em;
    height: 18.75em;
    overflow: hidden;
    border: 1px solid #1e152a;
    border-radius: 0.5em;
}

.maps iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
}

/* About Us general */
.specialists {
    display: flex;
    gap: 1.25em;
    justify-content: space-around;
    text-align: center;
    padding: 0.9em;
    flex-wrap: wrap;
    max-width: 75em;
    margin: 0 auto;
}

.specialist {
    background-color: #F7DD72;
    color: #1e152a;
    padding: 0.9375em;
    border: 1px solid #1e152a;
    border-radius: 0.5em;
    flex: 1 1 250px;
    max-width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.specialist ul {
    text-align: left;
    list-style-position: inside;
    padding-left: 20px;
    margin: 0;
}

/* About Us on mobile */
@media screen and (max-width: 768px) {
    .specialists {
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        width: 90%;
    }

    .specialist {
        flex: 0 1 auto;
        width: 100%;
        max-width: none;
    }
}

/* Services */
.booking-btn p a {
    color: #1e152a;
    text-decoration: none;
    border: 1px solid #F7DD72;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #F7DD72;
}

.booking-btn p a:hover {
    color: #fff;
    border: 1px solid #1e152a;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #1e152a;
}

/* Booking form */
.bookingform {
    text-align: left;
    color: grey;
    padding: 2em;
}

.submitbtn {
    text-align: right;
}