/* Default settings (Desktop)*/

/* Main settings */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #9621de;
    font-size: 1vw;
}
.nav {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #9621de;
}
.nav__logo {
    font-size: 1.5rem;
    margin: auto 1rem;
}
.nav__menu ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.nav__menu ul li {
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    display: block;
}
.nav__menu li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.nav__hamburger {
    width: 1.875rem;
    height: 1.313rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.nav__hamburger__line {
    height: 0.188rem;
    width: 100%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
}
.nav__hamburger.active {
    color: #fff;
}
header {
    background: #9621de;
    color: #fff;
    padding: 1.5625em 0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header-left {
    font-size: 1em;
    font-weight: bold;
}
header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
header ul li {
    font-size: 0.8125em;
    margin: 0 15px;
    vertical-align: middle;
    align-items: center;
}
header ul li a {
    color: #fff;
    text-decoration: none;
}
header ul li a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    text-align: center;
}
main p a {
    color: #1e152a;
    text-decoration: underline;
}
main p a:hover {
    color: #fff;
    text-decoration: none;
    border: 1px solid #1e152a;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #1e152a;
}
.collapsible {
    background-color: #DEDEDE;
    color: #9621de;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: none;
    border-radius: 1em;
    font-size: 1.5em;
    margin: 0.2em;
}
.collapsible:hover {
    background-color: #9621de;
    color: #fff;
    border-color: #f1f1f1;
}
.active {
    background-color: #9621de;
    color: #fff;
    border-color: #f1f1f1;
    margin: auto;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
.collapsible:after {
    content: '\002B';
    color: #9621de;
    font-weight: bold;
    float: right;
}
.active:after {
    content: "\2212";
}
.content {
    width: 75%;
    margin: 0 auto;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
    background-color: #f1f1f1;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
table {
    width: 100%;
}
td {
    text-align: left;
    padding: 5px 18px;
}

/* Home Page */
.homecontainer {
    text-align: left;
    justify-content: flex-start;
}

/* About Us */
.specialists {
    display: flex;
    gap: 1.25em;
    justify-content: space-around;
    text-align: center;
    padding: 0.9em;
    flex-wrap: wrap;
    max-width: 75em;
    margin: 0 auto;
}
.specialist {
    background-color: #F7DD72;
    color: #1e152a;
    padding: 0.9375em;
    border: 1px solid #1e152a;
    border-radius: 0.5em;
    flex: 1 1 250px;
    max-width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.specialist ul {
    text-align: left;
    list-style-position: inside;
    padding-left: 20px;
    margin: 0;
}

/* Services */
.booking-btn p a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #9621de;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #9621de;
}
.booking-btn p a:hover {
    color: #9621de;
    border: 1px solid #f2f2f2;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #fff;
}

/* Booking form */
.bookingform {
    text-align: left;
    color: grey;
    padding: 2em;
}
.submitbtn {
    text-align: right;
}

/* Contact Us */
.contacts {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}
.contact {
    background-color: #F7DD72;
    color: #1e152a;
    padding: 15px;
    border: 1px solid #1e152a;
    border-radius: 8px;
    flex: 1;
    max-width: 45%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contacts p a {
    color: #1e152a;
    text-decoration: underline;
}
.contacts p a:hover {
    color: #fff;
    border: 1px solid #1e152a;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #1e152a;
}
.maps {
    position: relative;
    padding: 0.625em;
    height: 18.75em;
    overflow: hidden;
    border: 1px solid #1e152a;
    border-radius: 0.5em;
}
.maps iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
}


/* Mobile settings */
@media screen and (max-width: 550px) {
    /* Main settings */
    body {
        font-size: 2.5vw;
        margin: 0 auto;
        padding: 0;
        line-height: 1.6;
    }

    .nav__hamburger {
        display: flex;
    }
    .nav__menu {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        top: -20rem;
        width: 100%;
        transition: all ease-in-out 0.4s;
        z-index: -1;
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav__menu ul {
        flex-direction: column;
        width: 100%;
        padding: 3rem 0 0.6rem;
    }
    .nav__menu ul li {
        text-align: center;
    }
    .nav__menu.active {
        top: 0;
    }
    .nav__hamburger.active:nth-child(1) {
        transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }
    .nav__hamburger.active:nth-child(2) {
        opacity: 0;
    }
    .nav__hamburger.active:nth-child(3) {
        transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }

    header {
        padding: 1.5625em 0.625em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .header-left {
        font-size: 1em;
        font-weight: bold;
    }
    .header ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        padding: 1em;
        width: 90%;
    }
    .header ul li {
        flex: 0 1 auto;
        width: 100%;
        max-width: none;
    }
    main {
        padding: 20px;
        text-align: center;
    }

    /* Home Page */
    .homecontainer {
        text-align: left;
        justify-content: flex-start;
    }

    /* About Us */
    .specialists {
        flex-direction: column;
        gap: 1em;
        padding: 1em;
        width: 90%;
    }
    .specialist {
        flex: 0 1 auto;
        width: 100%;
        max-width: none;
    }
    .specialist ul {
        text-align: left;
        list-style-position: inside;
        padding-left: 20px;
        margin: 0;
    }

    /* Services */
    .booking-btn p a {
        text-decoration: none;
        padding: 0.5em;
        border-radius: 0.5em;
    }

    /* Service table */
    .servicecontainer {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }
    .td {
        padding: 15px;
        width: 33%;
    }
    .span {
        font-size: min(max(15px, 1.8vw), 30px);
    }

    /* Booking form */
    .bookingform {
        text-align: left;
        color: grey;
        padding: 2em;
    }

    /* Contact Us */
    .contacts {
        display: flex;
        gap: 20px;
        justify-content: space-around;
        padding: 20px;
    }
    .contact {
        padding: 15px;
        border: 1px solid #1e152a;
        border-radius: 8px;
        flex: 1;
        max-width: 45%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .contacts p a {
        color: #1e152a;
        text-decoration: underline;
    }
    .maps {
        position: relative;
        padding: 0.625em;
        height: 18.75em;
        overflow: hidden;
        border: 1px solid #1e152a;
        border-radius: 0.5em;
    }
    .maps iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100% !important;
        height: 100% !important;
    }
}